body {
  padding: 16px !important;
  background-color: white !important;

  @media (min-width: 1000px) {
    padding: 32px !important;
    background-color: white !important;
  }
}

.container__text {
  span {
    font-family: "Helvetica-Bold", sans-serif;
    font-size: 35px;

    @media (min-width: 1000px) {
      font-size: 41px;
    }

    @media (min-width: 1300px) {
      font-size: 40px;
    }
  }

  @media (min-width: 1000px) {
    margin-top: -40px;
    padding-bottom: 50px;
  }

  @media (min-width: 1300px) {
    margin-top: -40px;
    padding-bottom: 50px;
  }
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: "Helvetica-Bold", sans-serif;
      font-size: 14px;
      text-align: center;
      width: 220px;
      margin: 0;
    }

    span {
      font-family: "Helvetica", sans-serif;
      font-weight: 400;
      text-align: center;
      padding-top: 5px;
      font-size: 12px;
    }
  }

  img {
    width: 200px;

    @media (min-width: 1000px) {
      width: 356px;
    }

    @media (min-width: 1300px) {
      width: 100%;
    }
  }

  @media (min-width: 600px) {
    grid-template-columns: 35% 35% 35%;
    padding-right: 60px;
    gap: 20px;
  }

  @media (min-width: 1000px) {
    grid-template-columns: 35% 35% 35%;
    padding-right: 60px;
    gap: 20px;
  }

  @media (min-width: 1300px) {
    grid-template-columns: 32% 32% 32%;
    gap: 60px;
    padding-right: 40px;
    padding-top: 25px;
  }
}

.header__buttons {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    padding: 0;
    gap: 30px;
    margin-top: -40px;

    button {
      z-index: 1000;
      font-family: "Helvetica-Bold", sans-serif;
      font-size: 16px;
      background-color: transparent;
      border: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  @media (min-width: 1300px) {
    button {
      z-index: 1000;
      font-family: "Helvetica-Bold", sans-serif;
      background-color: transparent;
      border: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.hamburger-icon {
  @media (min-width: 1000px) {
    display: none;
  }
}

#cart {
  @media (min-width: 1000px) {
    justify-self: end;
    margin-left: auto;
    margin-top: -40px;
    padding-right: 10px;
  }
}
